<h2>
  Ninja listing
</h2>
<form id="filter">
  <label>Filter ninjas by name:</label>
  <input type="text" name="searchTerm" [(ngModel)]="term" />
</form>
<ul id="ninja-lisitng">
  <li *ngFor="let ninja of ninjas | filter:term">
    <div class="single-ninja">
      <!--belt color-->
      <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>
      <!--ninja name-->
      <h3>{{ninja.name}}</h3>
      <!-- <div (click)="remove($event)" [attr.data-name]="ninja.name">delete</div> -->
    </div>
  </li>
</ul>

<button (click)="logIt()">Log me</button>